/* Custom Properties */
:root {
  --color-light-red: hsl(356, 100%, 66%);
  --color-very-light-red: hsl(355, 100%, 74%);
  --color-very-dark-blue: hsl(208, 49%, 24%);
  --color-white: hsl(0, 0%, 100%);
  --color-grayish-blue: hsl(240, 2%, 79%);
  --color-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --color-very-dark-black-blue: hsl(240, 10%, 16%);
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --default-font-size: 16px;
  --text-default: 'Overpass', sans-serif;
  --text-heading: 'Ubuntu', sans-serif;
}

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--text-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-heading);
}

.btn-light {
  background-color: var(--color-white);
  color: var(--color-very-light-red);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

.btn-light:hover {
  background-color: var(--color-very-light-red);
  color: var(--color-white);
}

.btn-dark {
  background-color: var(--color-very-light-red);
  color: var(--color-white);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: var(--color-white);
  color: var(--color-very-light-red);
}

header {
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--gradient-very-light-red),
    var(--gradient-light-red)
  );
  height: 500px;
  border-radius: 0 0 0 100px;
  overflow: hidden;
  color: var(--color-white);
}

header > img {
  width: 3000px;
  position: absolute;
  top: -1250px;
  right: -1200px;
}

nav {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left li {
  padding: 7px 15px;
}

.nav-left > img {
  margin-right: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  padding: 10px 20px;
}

nav li img {
  margin-left: 7px;
}
